<div class="page">
    <div class="weui-tab">
        <div class="page__hd">
            <h1 class="page__title bulletinTitle">测试公告标题</h1>
            <p class="page__desc bulletinContent">测试公告内容</p>
        </div>
        <div class="page__bd">
            <div style="text-align:center;">
                <div class="page__bd">
                    <div class="weui-panel weui-panel_access">

                        <div class="weui-panel__bd">
                            <a href="javascript:void(0);"
                               class="weui-media-box weui-media-box_appmsg weui-cell_access js_item"
                               data-id="assignment-uploader">
                                <div class="weui-media-box__bd">

                                    <div class="weui-media-box__desc">
                                        <div id="task-analysis-pie-chart"
                                             style="margin:0 auto;width: 350px;height:300px;"></div>
                                    </div>
                                    <ul class="weui-media-box__info">
                                        <!--<li class="weui-media-box__info__meta">日期：2017-10-31</li>-->
                                        <!--<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">状态：合格，迟交</li>-->
                                        <!--<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">更新日期：2017-09-04 21:15</li>-->
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="weui-panel weui-panel_access">

                        <div class="weui-panel__bd">
                            <a href="javascript:void(0);"
                               class="weui-media-box weui-media-box_appmsg weui-cell_access js_item"
                               data-id="assignment-uploader">
                                <div class="weui-media-box__bd">

                                    <div class="weui-media-box__desc">
                                        <div id="task-analysis-line-chart"
                                             style="margin:0 auto;width: 350px;height:300px;"></div>
                                    </div>
                                    <ul class="weui-media-box__info">
                                        <!--<li class="weui-media-box__info__meta">日期：2017-10-31</li>-->
                                        <!--<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">状态：合格，迟交</li>-->
                                        <!--<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">更新日期：2017-09-04 21:15</li>-->
                                    </ul>
                                    <br>
                                    <br>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('task-analysis-pie-chart'));
    // 指定图表的配置项和数据
    var option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
//        legend: {
//            orient: 'vertical',
//            left: 'left',
//            data: ['待完成', '已提交，按时交', '未完成', '糊弄，按时交', '合格，按时交', '已提交，迟交', '糊弄，迟交', '合格，迟交']
//        },
        color: ['#3399ff', '#999999', '#ff0000', '#996600', '#66cc00', '#111111', '#663300', '#663300', '#336633'],
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option);

    $.ajax({
        type: "post",
        async: false,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "http://" + $('#serviceDomain').text() + "/m/pie/" + getCookie('uid') + "/",    //请求发送到TestServlet处
        data: {},
        crossDomain: true,
        processData: false,  // 不处理数据
        contentType: false,  // 不设置内容类型
        dataType: "json",        //返回数据形式为json
        success: function (data) {
            myChart1.setOption({
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: data,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!"+errorMsg);
            myChart.hideLoading();
        }
    });


    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('task-analysis-line-chart'));

    // 指定图表的配置项和数据
    var option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['评分']
        },

        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
//                data: ['2017／4／1', '2017／4／8', '2017／4／15', '2017／4／22', '2017／4／29']
                data: []
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [
            {
                name: '评分',
                type: 'line',
//                data: [7, 9.5, 6, 8, 9],
                data: [],
                markPoint: {
                    data: [
                        {type: 'max', name: '最高分'},
                        {type: 'min', name: '最低分'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画

    var time = [];    //类别数组（实际用来盛放X轴坐标值）
    var value = [];
    $.ajax({
        type: "post",
        async: false,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "http://" + $('#serviceDomain').text() + "/m/socreTime/" + getCookie('uid') + "/",    //请求发送到TestServlet处
        data: {},
        crossDomain: true,
        processData: false,  // 不处理数据
        contentType: false,  // 不设置内容类型
        dataType: "json",        //返回数据形式为json
        success: function (result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    time.push(result[i]);    //挨个取出类别并填入类别数组
                }
                myChart.hideLoading();    //隐藏加载动画
                myChart.setOption({        //加载数据图表
                    xAxis: {
                        data: time
                    }
                });

            }

        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!"+errorMsg);
            myChart.hideLoading();
        }
    });
    $.ajax({
        type: "post",
        async: false,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "http://" + $('#serviceDomain').text() + "/m/socreValue/" + getCookie('uid') + "/",    //请求发送到TestServlet处
        data: {},
        crossDomain: true,
        processData: false,  // 不处理数据
        contentType: false,  // 不设置内容类型
        dataType: "json",        //返回数据形式为json
        success: function (result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    value.push(result[i]);    //挨个取出类别并填入类别数组
                }
                myChart.hideLoading();    //隐藏加载动画
                myChart.setOption({        //加载数据图表
                    series: {
                        data: value
                    }
                });

            }

        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!"+errorMsg);
            myChart.hideLoading();
        }
    });

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }

    function getBulletin() {
        var fd = new FormData();
        fd.append("uid", getCookie('uid'));
        $.ajax({
            type: "POST",
            url: "http://" + $('#serviceDomain').text() + "/wechat/bulletin",
            data: fd,
            crossDomain: true,
            async: false,
            processData: false,  // 不处理数据
            contentType: false,  // 不设置内容类型
            success: function (data) {
                if ("0" == data['status']) {
                    $('.bulletinTitle').text(data['bulletinTitle']);
                    $('.bulletinContent').text(data['bulletinContent']);
                } else {
                    $('#amsDialogContentToday').text(data['info']);
                    $('#amsDialogToday').fadeIn(200);
                }
            },
            error: function () {
                $('#amsDialogContentToday').text('公告加载失败');
                $('#amsDialogToday').fadeIn(200);
            }
        });
    }

    getBulletin();
</script>