<div class="page">
    <div class="weui-tab">
        <div class="page__hd">
            <h1 class="page__title">以下内容很重要！！！</h1>
            <p class="page__desc">新学期 新作业系统 新助教跟踪体系 新面貌完成新作业 加油！！！</p>
        </div>
        <div class="page__bd">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">今日作业</div>
                <div class="weui-panel__bd" id="taskInfoPanelToday">
                </div>
            </div>
        </div>
    </div>


    <div id="amsDialogsToday">
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="amsDialogToday" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd" id="amsDialogContentToday"></div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                </div>
            </div>
        </div>
        <!--END dialog2-->
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.js_item').on('click', function () {
            var id = $(this).data('id');
            window.pageManager.go(id);
        });
    });
    $(function () {
        $('.weui-tabbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
        });
    });

    $('#amsDialogsToday').on('click', '.weui-dialog__btn', function () {
        $(this).parents('.js_dialog').fadeOut(200);
    });

    function getWeekData() {
        var fd = new FormData();
        fd.append("uid", getCookie('uid'));
        fd.append("offset", "0");
        $.ajax({
            type: "POST",
            url: "http://" + $('#serviceDomain').text() + "/wechat/remainingTaskListAllStatus",
            data: fd,
            crossDomain: true,
            async: false,
            processData: false,  // 不处理数据
            contentType: false,  // 不设置内容类型
            success: function (data) {
                if ("0" == data['status']) {
                    var item;
                    $('#taskInfoPanelToday').empty();
                    $.each(data['data'], function (i, result) {
                        item = '<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg weui-cell_access js_item" data-id="assignment-uploader"> <div class="weui-media-box__bd">'
                            + result['taskName'];
                        if ("未完成" == result['taskStatus']) {
                            item += '<h4 class = "weui-media-box__title" > </h4> <p class="weui-media-box__desc">状态：<span style="color:red">'
                                + result['taskStatus']
                        } else {
                            item += '<h4 class = "weui-media-box__title" > </h4> <p class="weui-media-box__desc">状态：<span>'
                                + result['taskStatus']
                        }
                        item += '</span></p> <ul class="weui-media-box__info"> <li class="weui-media-box__info__meta">截止日期：<b>'
                            + result['deadLineString']
                            + '</b> </li> </ul> </div> </a>'
                        $('#taskInfoPanelToday').append(item);
                    });
                } else {
                    $('#amsDialogContentToday').text(data['info']);
                    $('#amsDialogToday').fadeIn(200);
                }
            },
            error: function () {
                $('#amsDialogContentToday').text('作业加载失败');
                $('#amsDialogToday').fadeIn(200);
            }
        });
    }

    getWeekData();

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }
</script>