<div class="page">
    <div class="weui-tab">
        <div class="page__bd">
            <div class="weui-cells__title">作业详情</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">作业名称</label></div>
                    <div class="weui-cell__bd">
                        <div class="weui-input" id="taskName">
                            测试作业名称GRE阅读exercise6
                        </div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">详情</label></div>
                    <div class="weui-cell__bd">
                        <div class="weui-input" id="remark">
                            测试详情学生迟交作业。 迟交
                        </div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">状态</label></div>
                    <div class="weui-cell__bd">
                        <div class="weui-input" id="taskStatus">
                            测试截止日期作业状态合格，迟交
                        </div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">截止日期</label></div>
                    <div class="weui-cell__bd">
                        <div class="weui-input" id="deadLineString">
                            测试截止日期2017-09-04 21:15
                        </div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <p class="weui-uploader__title">文件上传</p>
                            </div>
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="uploaderFiles">

                                </ul>
                                <div class="weui-uploader__input-box">
                                    <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
            </div>
        </div>


    </div>
</div>
<script type="text/javascript">
    $(function(){
        function getTaskDetail() {
            var fd = new FormData();
            fd.append("tid", getCookie('tid'));
            $.ajax({
                type: "POST",
                url: "http://" + $('#serviceDomain').text() + "/wechat/taskDetail",
                data: fd,
                crossDomain: true,
                async: false,
                processData: false,  // 不处理数据
                contentType: false,  // 不设置内容类型
                success: function (data) {
                    if ("0" == data['status']) {
                        $('#taskName').empty();
                        $('#remark').empty();
                        $('#taskStatus').empty();
                        $('#deadLineString').empty();

                        $.each(data['data'], function (i, result) {
                            $('#taskName').text(result['taskName']);
                            $('#remark').text(result['remark']);
                            $('#taskStatus').text(result['taskStatus']);
                            $('#deadLineString').text(result['deadLineString']);
                        });
                    } else {
                        $('#amsDialogContentToday').text(data['info']);
                        $('#amsDialogToday').fadeIn(200);
                    }
                },
                error: function () {
                    $('#amsDialogContentToday').text('作业详情');
                    $('#amsDialogToday').fadeIn(200);
                }
            });
        }

        var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
            $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
            $uploaderInput = $("#uploaderInput"),
            $uploaderFiles = $("#uploaderFiles")
        ;

        $uploaderInput.on("change", function(e){
            var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
            for (var i = 0, len = files.length; i < len; ++i) {
                var file = files[i];

                if (url) {
                    src = url.createObjectURL(file);
                } else {
                    src = e.target.result;
                }


                if ($uploaderFiles.size==0){
                    $uploaderFiles.append($(tmpl.replace('#url#', src)));
                } else {
                    $uploaderFiles.empty();
                    $uploaderFiles.append($(tmpl.replace('#url#', src)));
                }

            }
        });
        $uploaderFiles.on("click", "li", function(){
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        $gallery.on("click", function(){
            $gallery.fadeOut(100);
        });

        getTaskDetail();
    });
</script>