<div >
    <form method="post" action="http://ittac-homework-management.sinacloud.net" id="updateTaskForm" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="formUploadFile" accept="image/*">
        <input type="text" name="success_action_redirect" value="http://baidu.com">
        <input type="text" name="AWSAccessKeyId" value="18qu7z8JTVZPurFMQ90i">
        <input type="text" name="key" value="Chooseabc" id="formKey">
        <input type="submit" value="提交">
    </form>
</div>